@import url("https://unpkg.com/@fortawesome/fontawesome-free-webfonts@^1.0.9/css/fontawesome.css");
@import url("https://unpkg.com/@fortawesome/fontawesome-free-webfonts@^1.0.9/css/fa-regular.css");
@import url("https://unpkg.com/@fortawesome/fontawesome-free-webfonts@^1.0.9/css/fa-solid.css");

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #3b0444;
    color: #fff;
    display: flex;
    padding: 0 16px;
    align-items: center;
    height: 56px;
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  }

  .navbar-custom {

    background-color: #4b0b3b;  
}