
    <!-- NOTES -->
<!-- href now equals routerLink="" -->
<!-- Generating a new component use "ng g c {component name} --module app "-->

<html>

<body>

  <div *ngIf="!isSignedIn">
    <h2>Sign up</h2>
    <input type="text" #emailSignup/>
    <input type="text" #passwordSignup/>

    <button (click)="onSignup(emailSignup.value,passwordSignup.value)">Sign Up</button>
</div>


<section  class="Signin" fxLayout fxLayoutAlign="center">
    
    <form *ngIf="!isSignedIn" #postForm="ngForm">
      <mat-card fxFlex.xs="100%" fxFlex="400px">
        <mat-card-title fxLayoutAlign="center center">Sign In</mat-card-title>
          <mat-card-content fxLayout="column" fxLayoutAlign="center center">

            <mat-form-field>
              <input
              matInput
              type="email"
              name="email"
              placeholder="Email Address"
              ngModel
              required
              #email="ngModel">
              <mat-error *ngIf="email.invalid">Invalid or missing email</mat-error>
            </mat-form-field> 
            <mat-form-field>

              <input
              matInput
              name="password"
              placeholder="Password"
              ngModel
              required
              #password="ngModel"
              id="password"
              [type]="hide ? 'password' : 'text'">
              <i class="material-icons" matSuffix (click) = "hide = !hide">
                {{hide ? 'visibility' : 'visibility_off'}}</i>
              <mat-error *ngIf="password.invalid">Invalid or missing password</mat-error>
            </mat-form-field> 
          </mat-card-content>
            <mat-card-actions fxLayoutAlign="center"> 
        <a routerLink="">Forgot your password?</a> 
            </mat-card-actions>
          <mat-card-actions fxLayoutAlign="center">            
            <button type="submit" mat-raised-button [disabled]="postForm.invalid" color="primary" (click)="onSignin(email.value,password.value)" >Sign In</button>
        </mat-card-actions>
      </mat-card>
      
    </form>   
      
  </section>



  <app-header-bar *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-header-bar>
  <router-outlet *ngIf="isSignedIn" (isLogout)="handleLogout()"></router-outlet>


</body>
</html>
